.faq-page {
    height: 100vh;
    color: rgb(150, 177, 225);
}
.faq-page .faq-content {
    height: 100%;
}
.faq-page .faq-header {
    height: 5vh;
}
.faq-page .faq-title {
    font-size: 3em;
    color:rgb(105, 225, 255); 
}
.faq-page .faq-q-a-container {
    margin: 2vh auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.faq-page .faq-q {
    text-align: left;
    font-weight: bold;
}
.faq-page .faq-a {
    text-align: left;
    margin-left: 5vh;
}

.row-title-text {
    background-image: linear-gradient(45deg, rgb(131, 131, 237), rgb(199, 128, 199));
    background-clip: text;
    color: transparent;
}

.faq-header {
    color:rgb(105, 225, 255);
}
.faq-row-wrapper{
    color:rgb(105, 225, 255);
    padding: 300px
}
.faq-row {
    color:rgb(105, 225, 255);
}
.row-body{
    color:aqua;
}
.icon-wrapper {
    color: aqua;

}
.row-content{
    color: aqua;
    padding: 5px;
}
.row-title{
    color: blue;
}