.faq-page {
    background-color: black;
}
.faq-page .faq-content {
    height: 100%;
}
.faq-page .faq-header {
    height: 5vh;
}
.faq-page .faq-footer {
    height: 20vh;
}
.faq-page .faq-title {
    font-family: 'Fredoka One', cursive;
    font-size: 5em;
    color:#db35f1;
}
.faq-page .faq-q-a-container {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB {
    padding-top: 10px !important;
    padding-left: 5px !important;
}
.faq-page .faq-q {
    text-align: left;
    font-weight: bold;
}
.faq-page .faq-a {
    text-align: left;
    margin-left: 5vh;
}

.row-title-text {
    font-family: 'Lexend', sans-serif;
    background-image: linear-gradient(45deg, rgb(131, 131, 237), rgb(199, 128, 199));
    background-clip: text;
    font-weight: bold;
    color: transparent;
}

.styles_icon-wrapper__2cftw {
    top: 15px !important;
}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 25px !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c { 
    border-bottom: 0px solid #ccc !important;
}
.faq-body {
    background-image: linear-gradient(45deg, rgb(131, 131, 237), rgb(199, 128, 199));
    padding: 50px;
    border-radius: 25px;

}
.faq-row-wrapper{
    color:rgb(105, 225, 255);
}
.faq-row-wrapper{
    padding: 130px;
    background-color: black !important;
}

.icon-wrapper {
    clip-path: circle(50%);
    background-image: linear-gradient(45deg, rgb(137, 174, 234), rgb(204, 180, 237));
}
.row-content{
    padding: 5px;
}

.faq-row-wrapper{
    text-align: left;
}
