/* TODO: make sure styles are responsive / mobile friendly */
.home-page {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page * {
  overflow-x: visible !important;
}
.home-page .home-page-caption {
  color: white;
  z-index: 4;
  position: relative;
}
.home-page .home-page-logo-pic {
  width: 70vh;
  z-index: 4;
  position: relative;
  top: 10vh;
  left: -3vh;
}

.home-page .home-page-logo {
  font-family: "Fredoka One", cursive;
  font-size: 8em;
  letter-spacing: 3px;
  position: relative;
  color: white;
  z-index: 4;
}
.home-page a {
  text-decoration: none;
}
.home-page-sign-up-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.sign-up-button {
  color: red;
  position: relative;
  font-size: 1.5em;
  /* top: -15vh; */
  /* left: 2vh; */
  z-index: 10;
  width: 12em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 4vh auto;
  /* margin: auto; */
  border: 4px solid red;
  border-radius: 2vh;
  background-color: white;
  font-family: "Fredoka One", cursive;
  vertical-align: middle;
}
#participant-button {
  margin-right: .5em;
}
#mentor-button {
  margin-left: .5em;
}

@keyframes animated_home_logo {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.home-page .home-page-circle-container {
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4em;
}
.home-page .home-page-circle {
  background-color: black;
  border-radius: 50%;
  margin: auto;
  position: absolute;
}
.home-page #home-page-circle-1 {
  height: 65vh;
  width: 65vh;
  display: center;
  z-index: 3;
  background: linear-gradient(#8200b6, #cc14ff, #ff00e0);
  animation: glowing-circle-animation 5s linear infinite;
  /* if you wanna make background nebula image*/
  /* background: linear-gradient(#5b04de, #007ea8); */
  /* background: black; */
  /* background-image: url("../../public/nebula-purple.jpg"); */
  /* background-repeat: repeat-x; */
  /* animation: glowing-circle-animation 5s linear infinite; */
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}
@keyframes glowing-circle-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-page #home-page-circle-1 span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--gradient-colors);
}
.home-page #home-page-circle-1 span:nth-child(1) {
  filter: blur(5px);
}
.home-page #home-page-circle-1 span:nth-child(2) {
  filter: blur(10px);
}
.home-page #home-page-circle-1 span:nth-child(3) {
  filter: blur(25px);
}
.home-page #home-page-circle-1 span:nth-child(4) {
  filter: blur(50px);
}
.home-page #home-page-circle-1:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: black;
  border-radius: 50%;
}

/* in case you want more circles */
/*.home-page #home-page-circle-2 {
    height: 60vh;
    width: 60vh;
    z-index: 2;
}
.home-page #home-page-circle-3 {
    height: 20em;
    width: 20em;
    z-index: 1;
} */

@media only screen and (max-width: 460px) {
  .home-page {
    height: 100vh;
  }
  .home-page-content {
    position: relative;
    /* left: 5vw;
    top: -10vw; */
  }
  .home-page-logo-pic {
    margin: auto;
    width: 90vw !important;
    position: relative;
    top: 1vw !important;
    left: 0vw !important;
  }
  .sign-up-button {
    font-size: 1.2em;
    width: 7em;
    height: 2.5em;
    line-height: 1.2em;
    position: relative;
    top: -5vh;
    margin: 0vh auto io !important;
  }
}


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 483px 450px #fff, 1995px 525px #fff, 755px 1459px #fff,
    610px 1246px #fff, 764px 1850px #fff, 1274px 1697px #fff, 1227px 37px #fff,
    1090px 506px #fff, 341px 1005px #fff, 1002px 755px #fff, 693px 1497px #fff,
    1797px 1626px #fff, 1838px 793px #fff, 802px 881px #fff, 1117px 1983px #fff,
    352px 1465px #fff, 1526px 852px #fff, 1559px 526px #fff, 517px 516px #fff,
    1380px 244px #fff, 662px 1531px #fff, 1544px 518px #fff, 253px 879px #fff,
    774px 1629px #fff, 752px 994px #fff, 1129px 726px #fff, 232px 1050px #fff,
    1766px 290px #fff, 1976px 842px #fff, 662px 1535px #fff, 257px 1016px #fff,
    665px 708px #fff, 1476px 1772px #fff, 261px 498px #fff, 719px 1459px #fff,
    469px 438px #fff, 994px 474px #fff, 744px 808px #fff, 1609px 1741px #fff,
    898px 260px #fff, 1978px 1436px #fff, 904px 1244px #fff, 123px 773px #fff,
    6px 923px #fff, 1973px 1778px #fff, 1470px 1861px #fff, 1037px 156px #fff,
    554px 1905px #fff, 1508px 849px #fff, 1213px 1603px #fff, 87px 1907px #fff,
    492px 527px #fff, 91px 213px #fff, 492px 15px #fff, 1357px 1157px #fff,
    637px 240px #fff, 1515px 281px #fff, 1757px 682px #fff, 1035px 1298px #fff,
    1019px 1233px #fff, 25px 162px #fff, 262px 884px #fff, 1328px 965px #fff,
    984px 879px #fff, 1213px 689px #fff, 623px 1091px #fff, 1227px 422px #fff,
    1977px 1025px #fff, 620px 474px #fff, 528px 1525px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 483px 450px #fff, 1995px 525px #fff, 755px 1459px #fff,
    610px 1246px #fff, 764px 1850px #fff, 1274px 1697px #fff, 1227px 37px #fff,
    1090px 506px #fff, 341px 1005px #fff, 1002px 755px #fff, 693px 1497px #fff,
    1797px 1626px #fff, 1838px 793px #fff, 802px 881px #fff, 1117px 1983px #fff,
    352px 1465px #fff, 1526px 852px #fff, 1559px 526px #fff, 517px 516px #fff,
    1380px 244px #fff, 662px 1531px #fff, 1544px 518px #fff, 253px 879px #fff,
    774px 1629px #fff, 752px 994px #fff, 1129px 726px #fff, 232px 1050px #fff,
    1766px 290px #fff, 1976px 842px #fff, 662px 1535px #fff, 257px 1016px #fff,
    665px 708px #fff, 1476px 1772px #fff, 261px 498px #fff, 719px 1459px #fff,
    469px 438px #fff, 994px 474px #fff, 744px 808px #fff, 1609px 1741px #fff,
    898px 260px #fff, 1978px 1436px #fff, 904px 1244px #fff, 123px 773px #fff,
    6px 923px #fff, 1973px 1778px #fff, 1470px 1861px #fff, 1037px 156px #fff,
    554px 1905px #fff, 1508px 849px #fff, 1213px 1603px #fff, 87px 1907px #fff,
    492px 527px #fff, 91px 213px #fff, 492px 15px #fff, 1357px 1157px #fff,
    637px 240px #fff, 1515px 281px #fff, 1757px 682px #fff, 1035px 1298px #fff,
    1019px 1233px #fff, 25px 162px #fff, 262px 884px #fff, 1328px 965px #fff,
    984px 879px #fff, 1213px 689px #fff, 623px 1091px #fff, 1227px 422px #fff,
    1977px 1025px #fff, 620px 474px #fff, 528px 1525px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1585px 315px #fff, 1750px 858px #fff, 502px 1184px #fff,
    1482px 150px #fff, 870px 93px #fff, 1401px 1976px #fff, 494px 1549px #fff,
    1607px 1894px #fff, 1029px 1466px #fff, 1931px 1390px #fff,
    819px 1431px #fff, 521px 1062px #fff, 1754px 574px #fff, 577px 943px #fff,
    850px 1377px #fff, 445px 1835px #fff, 1658px 1675px #fff, 521px 1144px #fff,
    560px 1624px #fff, 1329px 1778px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1585px 315px #fff, 1750px 858px #fff, 502px 1184px #fff,
    1482px 150px #fff, 870px 93px #fff, 1401px 1976px #fff, 494px 1549px #fff,
    1607px 1894px #fff, 1029px 1466px #fff, 1931px 1390px #fff,
    819px 1431px #fff, 521px 1062px #fff, 1754px 574px #fff, 577px 943px #fff,
    850px 1377px #fff, 445px 1835px #fff, 1658px 1675px #fff, 521px 1144px #fff,
    560px 1624px #fff, 1329px 1778px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 91px 409px #fff, 1886px 728px #fff, 1294px 970px #fff,
    720px 1215px #fff, 796px 1431px #fff, 834px 1217px #fff, 1926px 1164px #fff,
    1803px 310px #fff, 1532px 1421px #fff, 1680px 232px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 91px 409px #fff, 1886px 728px #fff, 1294px 970px #fff,
    720px 1215px #fff, 796px 1431px #fff, 834px 1217px #fff, 1926px 1164px #fff,
    1803px 310px #fff, 1532px 1421px #fff, 1680px 232px #fff;
}

#star-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
