/* TODO: make sure styles are responsive / mobile friendly */
.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .home-page-caption {
  color: white;
  z-index: 4;
  position: relative;
}
.home-page .home-page-logo-pic {
  width: 100vh;
  z-index: 4;
  position: relative;
  top: 10vh;
  left: -3vh;
}

.home-page .home-page-logo {
  font-family: "Fredoka One", cursive;
  font-size: 8em;
  letter-spacing: 3px;
  position: relative;
  color: white;
  /* color: rgb(245, 105, 255); */
  /* background: linear-gradient(-45deg, #94259c, #ff0af2); */
  /*background: linear-gradient(#8200b6, #cc14ff,#ff00e0);*/
  /* background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_home_logo 5s ease-in-out infinite;
	-moz-animation: animated_home_logo 5s ease-in-out infinite;
	-webkit-animation: animated_home_logo 5s ease-in-out infinite;  */
  z-index: 4;
}
.home-page a {
  text-decoration: none;
}

.sign-up-button {
  color: #e100ff;
  position: relative;
  font-size: 1.5em;
  /* top: -15vh; */
  /* left: 2vh; */
  z-index: 10;
  width: 7em;
  height: 1.4em;
  margin: 4vh auto;
  /* margin: auto; */
  border-radius: 2vh;
  background-color: white;
  font-family: "Fredoka One", cursive;
}


@keyframes animated_home_logo {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
/* if you wanna make words pulsing / gradient colored, then here are the styles:  */
/* color: rgb(245, 105, 255);   
    background: linear-gradient(-45deg, #94259c, #ff0af2);
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_home_logo 10s ease-in-out infinite;
	-moz-animation: animated_home_logo 10s ease-in-out infinite;
	-webkit-animation: animated_home_logo 10s ease-in-out infinite; 
@keyframes animated_home_logo {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
} */

.home-page .home-page-circle-container {
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4em;
}
.home-page .home-page-circle {
  background-color: black;
  border-radius: 50%;
  margin: auto;
  position: absolute;
}
.home-page #home-page-circle-1 {
  height: 65vh;
  width: 65vh;
  display: center;
  z-index: 3;
  background: linear-gradient(#8200b6, #cc14ff, #ff00e0);
  animation: glowing-circle-animation 5s linear infinite;
  /* if you wanna make background nebula image*/
  /* background: linear-gradient(#5b04de, #007ea8); */
  /* background: black; */
  /* background-image: url("../../public/nebula-purple.jpg"); */
  /* background-repeat: repeat-x; */
  /* animation: glowing-circle-animation 5s linear infinite; */
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}
@keyframes glowing-circle-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-page #home-page-circle-1 span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--gradient-colors);
}
.home-page #home-page-circle-1 span:nth-child(1) {
  filter: blur(5px);
}
.home-page #home-page-circle-1 span:nth-child(2) {
  filter: blur(10px);
}
.home-page #home-page-circle-1 span:nth-child(3) {
  filter: blur(25px);
}
.home-page #home-page-circle-1 span:nth-child(4) {
  filter: blur(50px);
}
.home-page #home-page-circle-1:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: black;
  border-radius: 50%;
}

/* in case you want more circles */
/*.home-page #home-page-circle-2 {
    height: 60vh;
    width: 60vh;
    z-index: 2;
}
.home-page #home-page-circle-3 {
    height: 20em;
    width: 20em;
    z-index: 1;
} */

@media only screen and (max-width: 460px) {
  .home-page {
    height: 100vh;
  }
  .home-page-content {
    position: relative;
    left: 5vw;
    top: -10vw;
  }
  .home-page-logo-pic {
    margin: auto;
    width: 90vw !important;
    position: relative;
    top: -10vw;
  }
}
