.navbar {
    top: 0vh;
    height: 0px;
    position: sticky;
    z-index: 1000;
}
.navbar .navbar-logo {
    margin-left: 3.5em;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
.navbar .navbar-logo .navbar:hover {
    background: -webkit-linear-gradient(#8200b6, #cc14ff,#ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(-15deg);
}
.navbar .navbar-content {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    background-color: black;
}
.navbar .links-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 4em;
}
.navbar .links-container .link {
    font-size: 1.3em;
    margin-left: 1em;
    padding-left: .75em;
    cursor: pointer;
    color: white;
}

.navbar .links-container .link:hover {
    color: #db35f1;
    transform: rotate(-15deg);
}
