.prizes-page {
  height: 100vh;
  color: white;
}
.prizes-page * {
  overflow-x: hidden !important;
}
.prizes-page .prizes-content {
  height: 100%;
}
.prizes-page .prizes-header {
  height: 5vh;
}
.prizes-page .prizes-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 5em;
  color: whitesmoke;
}
.prizes-page {
  width: 100%;
  height: auto;
}
.prizes-img-and-caption {
  width: fit-content;
  height: fit-content;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

.prizes-img-and-caption2 {
  /* width: fit-content;
  height: fit-content; */
  margin: 5vh auto;
  display: flex;
}
@media only screen and (max-width: 900px) {
  .prizes-img-and-caption {
    flex-direction: column;
  }
}
.prizes-caption {
  width: 100vh;
  text-align: center;
}
.prizes-caption-header {
  text-align: center;
}
.prizes-para {
  font-size: 1.5em;
  border-width: 10px;
  border-color: white;
  text-align: center;
}
.prizes-caption-img-sep {
  width: 10vh;
  height: 8vh;
}

.prizes-list {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 1.5em;
}
.prizes-list li {
  margin: 7px auto;
}
.prizes-list b {
  color: #cc0000;
}
.react-slideshow-container {
  width: 150vh;
  height: 80vh;
  margin: auto;
  background-color: #cc0000;
  border: 13px solid #cc0000;
  z-index: 10;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.each-slide-effect > div {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* background-size: cover; */
  /* height: 70vh;
  width: 50vh; */
}

.each-slide-effect span {
  padding: 20px;
  font-size: 1.3em;
  font-weight: bold;
  max-width: 40vh;
  border-radius: 5%;
  text-align: center;
  margin-top: 60%;
  color: white;
}


@media only screen and (max-width: 460px) {
  .prizes-page .prizes-title {
    font-size: 4.5em;
  }
  .prizes-caption {
    width: 80vw;
    margin: auto;
  }
  .prizes-para {
    font-size: 1.3em;
  }
  .prizes-list {
    font-size: 1.3em;
  }
  .prizes-img-and-caption {
    margin: 0vh auto;
  }
  .prizes-page .prizes-caption-header {
    height: 5vh;
  }
  .react-slideshow-container {
    width: 70vh;
    height: 50vh;
    margin: auto;
  }
  .each-slide-effect > div {
    background-size: cover;
    border-radius: 10px;
    width: 60vw;
  }
  .each-slide-effect span {
    font-size: 1.2em;
    /* margin-top: 50%; */
  }
}
