.schedule-page {
    height: 200vh;
    color: black;
}
.schedule-page .schedule-content {
    height: 100%;
}
.schedule-page .schedule-header {
    height: 5vh;
}
.schedule-page .schedule-title {
    font-size: 3em;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#8200b6, #cc14ff,#ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.schedule-page .schedule-box {
    height: 80%;
    margin: 5vh auto;
    width: 15px;
    border-radius: 10px;
    background-color: lightgray;
}   